@charset "UTF-8";

@import "node_modules/materialize-css/sass/ghpages-materialize.scss";

.collection {
    margin: 0 0 1rem 0 !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: 1px solid #e0e0e0 !important;
    border-radius: 0px !important;
}

.collection-header {
    background-color: transparent !important;
    border-bottom: 1px dashed $slider-bg-color-light !important;
    padding-left: 0 !important;

    h4 {
        font-size: 1rem !important;
        margin: 1rem 0 0.5rem 0 !important;
    }
}

.collection-item {
    padding: 5px 10px 5px 0px !important;
    border-bottom: none !important;
    line-height: 1rem !important;
    background-color: transparent !important;

    a {
        font-size: 0.85rem;
        line-height: 1rem !important;
        color: $primary-color;
        transition: 0.2s;

        &:hover {
            color: $primary-color-dark;
        }
    }
}