@charset "UTF-8";

@import "node_modules/materialize-css/sass/ghpages-materialize.scss";

$primary-color-background: color("materialize-red", "lighten-5") !default;
$text-color: color("grey", "darken-3") !default;
$text-color-red: color("materialize-red", "lighten-1") !default;
$text-color-light-red: color("materialize-red", "lighten-4") !default;

$navbar-background: #FFF;

/*
 *  Global
 */
body {
    background-color: #fff !important;
}

/*
 *  Logotype
 */
.brand-logo {
    background: transparent url('../../images/laravel-logo.svg') no-repeat left center;
    background-size: 48px;
    color: $text-color-red !important;
    padding-left: 60px !important;
    font-weight: 300;
    font-size: 1.5rem !important;
}

/*
 *  Navbar
 */
nav {
    background-color: $navbar-background;

    ul {
        li {
            a {
                color: $primary-color;
            }

            &.active, &:hover {
                a {
                    color: #fff;
                }
            }
        }
    }
}

.dropdown-content {
    &:hover {
        li {
            a {
                color: $text-color-light-red;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    li {
        a {
            color: $primary-color;
        }
    }
}

/*
 *  Navigation
 */
.collection {
    margin: 0 0 1rem 0 !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: 1px solid #e0e0e0 !important;
    border-radius: 0px !important;
}

.collection-header {
    background-color: transparent !important;
    border-bottom: 1px dashed $slider-bg-color-light !important;
    padding-left: 0 !important;

    h4 {
        font-size: 1rem !important;
        margin: 1rem 0 0.5rem 0 !important;
    }
}

.collection-item {
    padding: 5px 10px 5px 0px !important;
    border-bottom: none !important;
    line-height: 1rem !important;
    background-color: transparent !important;

    a {
        font-size: 0.85rem;
        line-height: 1rem !important;
        color: $primary-color;
        transition: 0.2s;

        &:hover {
            color: $primary-color-dark;
        }
    }
}

/*
 *  Content
 */
.content {

    h1 {
        font-size: 3rem;
        font-weight: 300;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 400;
    }

    h3 {
        font-size: 2rem;
        font-weight: 400;
    }

    h4 {
        font-size: 1.3rem;
        font-weight: 500;
    }


    a {
        color: $primary-color;
        transition: 0.2s;

        &:hover {
            color: $primary-color-dark;
        }
    }

    ul {
        li {
            a {
                font-weight: 600;

                &:before {
                    font-weight: 300;
                    font-size: 1rem;
                    content: "#";
                    margin-right: 5px;
                    color: lighten($primary-color-light, 5%);
                }
            }

            ul {
                padding-left: 20px;

                li {
                    a {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .content-list {
        white-space: pre-wrap;
        margin-left: 30px;
        padding: 0px;
    }

    code {
        font-size: 15px;
        margin: 0 3px;
        padding: 2px;
        background-color: lighten($slider-bg-color-light, 10%);
        color: $primary-color;
    }

    pre {
        height: auto;
        background-color: lighten($slider-bg-color-light, 10%);
        padding: 10px;
        border-left: 2px solid $primary-color;
        font-size: 15px;

        code {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0 5px;
            color: $text-color;
        }

    }
}

/*
 *  Blockquote
 */
blockquote {
    background: lighten($error-color, 10%);
    color: #fff;
    border-left: none;
    padding: 3px 20px;

    p {
        color: #fff !important;
    }
}

/*
 *  Splash screen
 */
.splash {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(lighten($primary-color-background, 10%), .85);
    text-align: center;
    vertical-align: middle;

    .preloader-wrapper {
        position: absolute;
        top: 49%;
        left: 50%;
    }
}

/*
 *  Footer
 */
.page-footer {
    padding:0px;
    background-color: #fff !important;
    border-top: 2px solid $primary-color;

    .footer-copyright {
        background-color: $primary-color !important;
    }

    .row {
        a {
            transition: 0.2s;

            &:hover {
                color: $primary-color-dark !important;
            }
        }
    }
}

/*
 *  Error pages
 */
.error-page {
    margin: 20px 0;
    background: transparent url('../../images/servicesbot.png') no-repeat left center;
    min-width: 550px;
    min-height: 358px;
    padding:30px 0 0 490px;

    @media screen and (max-width: 839px) {
        margin: 10px 0;
        background: transparent !important;
        min-width: 200px;
        min-height: 10px;
        padding: 0;
    }
}