@charset "UTF-8";

@import "node_modules/materialize-css/sass/ghpages-materialize.scss";

/*
 *  Global
 */
body {
    background-color: #fff !important;
}

/*
 *  Logotype
 */
.brand-logo {
    background: transparent url('../../images/laravel-logo.png') no-repeat left center;
}

/*
 *  Navigation
 */
.collection {
    margin: 0 0 1rem 0 !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: 1px solid #e0e0e0 !important;
    border-radius: 0px !important;
}

.collection-header {
    background-color: transparent !important;
    border-bottom: 1px dashed $slider-bg-color-light !important;
    padding-left: 0 !important;

    h4 {
        font-size: 1rem !important;
        margin: 1rem 0 0.5rem 0 !important;
    }
}

.collection-item {
    padding: 5px 10px 5px 0px !important;
    border-bottom: none !important;
    line-height: 1rem !important;
    background-color: transparent !important;

    a {
        font-size: 0.85rem;
        line-height: 1rem !important;
        color: $primary-color;
        transition: 0.2s;

        &:hover {
            color: $primary-color-dark;
        }
    }
}

/*
 *  Content
 */
.content {

    h1 {
        font-size: 3rem;
        font-weight: 300;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 400;
    }

    h3 {
        font-size: 2rem;
        font-weight: 400;
    }

    h4 {
        font-size: 1.3rem;
        font-weight: 500;
    }


    a {
        color: $primary-color;
        transition: 0.2s;

        &:hover {
            color: $primary-color-dark;
        }
    }

    ul {
        li {
            a {
                font-weight: 600;

                &:before {
                    text-rendering: optimizeLegibility;
                    font-family: 'Material Icons';
                    font-weight: normal;
                    font-style: normal;
                    font-size: 24px;
                    line-height: 1;
                    letter-spacing: normal;
                    text-transform: none;
                    display: inline-block;
                    white-space: nowrap;
                    word-wrap: normal;
                    direction: ltr;
                    font-feature-settings: 'liga';
                    -webkit-font-feature-settings: 'liga';
                    -webkit-font-smoothing: antialiased;
                    content: "\e7c3";
                    margin-right: 5px;
                }
            }

            ul {
                padding-left: 20px;

                li {
                    a {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .content-list {
        background-color: green;
    }

    pre {
        height: auto;
        background-color: lighten($slider-bg-color-light, 10%);
        padding: 10px;
        border-left: 2px solid $primary-color;
        font-size: 15px;

        code {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: 15px;
        }

    }

}